<div id='movie_filters'>
  <div class="btn-group">
    <button type="button" class="btn" data-toggle="button">All movies</button>
    <button class="btn">Action</button>
    <button class="btn">Sci-Fi</button>
  </div>
</div>

<div id='movie_index'>
  <%# @movies.each do |movie| %>
  <% [].each do |movie| %>
    <div class='movie'>
      <%= link_to movie do %>
        <div class='movie_thumbnail'>
          <%= image_tag movie.image_url, :size => '140x200' %>
          <%# NOTE: image_url is supplied by user, check docs if this is safe! %>
        </div>
        
        <div class='movie_title'>
          <%= movie.title %>
        </div>
      <% end %>

      <div class='movie_score'>
        <%= score_class_stars(movie.score_class) %>
      </div>

    </div>
  <% end %>
</div>

<br class='clearfix'/>

<% if current_user %>
  <%= link_to 'New Movie', new_movie_path, :class => 'btn btn-primary' %>
<% end %>


<script type="text/template" id="movie_template">
  <div class='movie'>
    <a href='movies/{{ id }}'>
      <div class='movie_thumbnail'>
        <img src='{{ image_url }}' width='140' height='200'>
      </div>
      
      <div class='movie_title'>
        {{ title }}
      </div>
    </a>
  </div>
</script>

