<div class='row'>
  <div class='span2'>
    <div class='movie_thumbnail' style='float: left'>
      <%= image_tag @movie.image_url, :size => '140x200' %>
      <%# NOTE: image_url is supplied by user, check docs if this is safe! %>
    </div>
  </div>
  
  <div class='span8'>
    <h2><%= @movie.title %></h2>
    
    <p>
      <%= @movie.category %> (<%= @movie.year %>)
    </p>
    
    <p>
      <%= score_class_stars(@movie.score_class) %> (<%= pluralize @movie.ratings.count, 'rating' %>)
    </p>
    
    <p>
      <b>Description:</b>
      <%= @movie.description %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', movies_path %>
